/* FONT IMPORTS */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito-v32-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/nunito-v32-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito-v32-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito-v32-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito-v32-latin-800.woff2") format("woff2");
}

/* JOSH COMEAU'S CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

/* VARIABLES */
:root {
  --neutral-900: hsl(170, 45%, 16%);
  --neutral-600: hsl(168, 21%, 28%);
  --neutral-300: hsl(165, 15%, 84%);
  --neutral-200: hsl(150, 11%, 89%);
  --neutral-100: hsl(0, 9%, 98%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-100: hsl(21, 99%, 87%);
  --orange-500: hsl(21, 99%, 71%);
  --teal-500: hsl(170, 40%, 48%);
  --indigo-500: hsl(229, 61%, 64%);

  --ff-headings: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --ff-body: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  --fs-300: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px*/
  --fs-450: 1.125rem; /* 18px */
  --fs-500: 1.25rem; /* 20px*/
  --fs-550: 1.5rem; /* 24px*/
  --fs-600: 2rem; /* 32px */
  --fs-700: 2.5rem; /* 40px */
  --fs-750: 3rem; /* 48px */
  --fs-800: 3.375rem; /* 54px */
  --fs-900: 4rem; /* 64px */
  --fs-950: 4.5rem; /* 72px */

  --fw-400: 400;
  --fw-500: 500; /* medium */
  --fw-600: 600; /* semi-bold */
  --fw-700: 700; /* bold */
  --fw-800: 800; /* extra-bold */

  --ls-tight-1: -0.03px;
  --ls-tight-2: -0.04px;
  --ls-tight-3: -0.05px;
  --ls-tight-4: -1px;
  --ls-tight-5: -2px;

  --lh-1: 1.1;
  --lh-tight: 1.2;
  --lh-snug: 1.3;
  --lh-normal: 1.4;
  --lh-relaxed: 1.5;

  /* SPACING */
  /* base unit */
  --spacing-base: 0.25rem; /* 4px */

  /* spacing scale */
  --spacing-50: calc(var(--spacing-base) * 0.5); /* 2px */
  --spacing-100: var(--spacing-base); /* 4px */
  --spacing-150: calc(var(--spacing-base) * 1.5); /* 6px */
  --spacing-200: calc(var(--spacing-base) * 2); /* 8px */
  --spacing-300: calc(var(--spacing-base) * 3); /* 12px */
  --spacing-400: calc(var(--spacing-base) * 4); /* 16px */
  --spacing-500: calc(var(--spacing-base) * 5); /* 20px */
  --spacing-600: calc(var(--spacing-base) * 6); /* 24px */
  --spacing-700: calc(var(--spacing-base) * 8); /* 32px */
  --spacing-800: calc(var(--spacing-base) * 10); /* 40px */
  --spacing-900: calc(var(--spacing-base) * 12); /* 48px */
  --spacing-1000: calc(var(--spacing-base) * 16); /* 64px */
  --spacing-1100: calc(var(--spacing-base) * 20); /* 80px */
  --spacing-1200: calc(var(--spacing-base) * 24); /* 96px */

  /* BORDER RADIUS */
  --radius-4: 0.25rem; /* 4px */
  --radius-6: 0.375rem; /* 6px */
  --radius-8: 0.5rem; /* 8px */
  --radius-10: 0.625rem; /* 10px */
  --radius-12: 0.75rem; /* 12px */
  --radius-16: 1rem; /* 16px */
  --radius-20: 1.25rem; /* 20px */
  --radius-24: 1.5rem; /* 24px */
  --radius-full: 999px; /* full pill / circle */
}

body {
  -webkit-font-smoothing: antialiased;

  font-size: var(--fs-500);
  line-height: var(--lh-relaxed);
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  letter-spacing: var(--ls-tight-2);
  color: var(--neutral-900);
  background-color: var(--neutral-100);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
