/* Navbar */
.header__container {
  padding-block: var(--spacing-600);
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 16.25rem;
}

.navbar__list {
  gap: var(--spacing-800);
}

.navbar__list a {
  position: relative;
}

.navbar__list a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--orange-500);
  left: 0;
  bottom: -2px;
  border-radius: var(--radius-4);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.navbar__list a:hover::after {
  opacity: 1;
}

/* buttons */
.btn {
  border: 0;
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: var(--lh-normal);
  border-radius: var(--radius-10);
  padding: var(--spacing-300) var(--spacing-400);
}
.btn--main {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

/* footer */
.footer__container {
  justify-content: space-between;
  padding-block: var(--spacing-800);
}

.footer__social-list {
  align-items: center;
  gap: var(--spacing-600);
}
