/* buttons */
.btn {
  border: 0;
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: var(--lh-normal);
  border-radius: var(--radius-10);
  padding: var(--spacing-300) var(--spacing-400);
  min-width: fit-content;
}
.btn--main {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

/* navbar */
.header__container {
  padding-block: var(--spacing-600);
}

.navbar__logo {
  width: 16.25rem;
}

.navbar__list {
  gap: var(--spacing-800);
}

.navbar__list a {
  position: relative;
}

.navbar__list a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--orange-500);
  left: 0;
  bottom: -2px;
  border-radius: var(--radius-4);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.navbar__list a:hover::after {
  opacity: 1;
}

/* hero */
.hero__text {
  max-width: 35.25rem;
  margin-inline: auto;
}

.hero__highlight {
  position: relative;
  padding-inline: 0.1em 0.2em;
}

.hero__highlight::after {
  content: "";
  display: block;
  height: 40%;
  width: 100%;
  background-color: var(--orange-100);
  position: absolute;
  left: 0;
  bottom: 0.7rem;
  z-index: -1;
  border-radius: var(--radius-4);
}

/* footer */
.footer__container {
  padding-block: var(--spacing-800);
}

.footer__social-list {
  align-items: center;
  gap: var(--spacing-600);
}
