/* 
----------------------------------------------
navigation
---------------------------------------------- 
*/
.header__container {
  padding-block: var(--spacing-600);
}

.navbar__logo {
  width: 16.25rem;
}

.navbar__list {
  gap: var(--spacing-800);
}

.navbar__list a {
  position: relative;
}

.navbar__list a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--orange-500);
  left: 0;
  bottom: -2px;
  border-radius: var(--radius-4);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.navbar__list a:hover::after {
  opacity: 1;
}

/* 
----------------------------------------------
cta
----------------------------------------------
*/
.cta {
  background-color: var(--neutral-200);
  text-align: center;
  padding-inline: var(--spacing-400);

  background-image: url("../assets/images/pattern-fork.svg"),
    url("../assets/images/pattern-knife.svg");
  background-repeat: no-repeat;
  background-position: -5rem 2rem, calc(100% + 5rem) 2rem;
  background-size: 19rem 24rem, 21rem;
}

/* 
----------------------------------------------
footer
----------------------------------------------
*/
.footer__container {
  padding-block: var(--spacing-800);
}

.footer__social-list {
  align-items: center;
  gap: var(--spacing-600);
}

/* 
----------------------------------------------
buttons
----------------------------------------------
*/
.btn-outline {
  border: 0;
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: var(--lh-normal);
  border-radius: var(--radius-10);
  padding: var(--spacing-300) var(--spacing-400);
  cursor: pointer;
  display: inline-flex;
}

.btn--primary {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

.btn--pill {
  border-radius: var(--radius-full);
  padding: var(--spacing-300) var(--spacing-700);
  text-transform: capitalize;
}

/* 
----------------------------------------------
home
----------------------------------------------
*/
/* hero */
.hero__container {
  position: relative;
}

.hero__text {
  max-width: 35.25rem;
  margin-inline: auto;
}

.hero__img {
  max-width: 74.5rem;
  width: 100%;
  box-shadow: 0 0 0 12px var(--neutral-0);
}

.hero__decoration {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5rem;
  z-index: -1;
}

/* features */
.features__title {
  text-align: center;
}

.features__img-wrapper {
  --size: 3.75rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--neutral-0);
  border-radius: var(--radius-12);
  box-shadow: 0 1px 0 0 var(--neutral-200);

  display: flex;
  align-items: center;
  justify-content: center;
}

.features__list {
  gap: var(--spacing-700);
}

@media (max-width: 40rem) {
  .features__title {
    text-align: left;
  }
}

/* real-life */
.real-life__container {
  gap: var(--spacing-900);
}

.real-life__text-wrapper {
  max-width: 31.8125rem;
}

@media (max-width: 40rem) {
  .real-life__container {
    flex-direction: column;
    gap: var(--spacing-800);
  }
}

/* 
----------------------------------------------
about
----------------------------------------------
*/
/* hero */
.mission__container {
  gap: var(--spacing-1000);
}

/* why-exist */
.about-list__container {
  gap: var(--spacing-1000);
}

.about-list__title-wrapper {
  flex-shrink: 0;
}

.about-list__philosophy-title {
  max-width: 10ch;
}

.about-list__list {
  max-width: 756px;
  margin-left: auto;
}

.about-list__list-item {
  gap: var(--spacing-500);
}

.about-list__icon {
  min-width: 32px;
}

@media (max-width: 40rem) {
  .about-list__section {
    flex-direction: column;
    gap: var(--spacing-800);
  }
}

/* beyond the plate */
.beyond-plate__container {
  gap: var(--spacing-1000);
  align-items: start;
}

.beyond-plate__text {
  max-width: 376px;
}

.beyond-plate__list {
  list-style: disc;
  padding-left: 2rem;
}

@media (max-width: 40rem) {
  .beyond-plate__container {
    flex-direction: column;
    gap: var(--spacing-800);
  }
  .beyond-plate__text {
    max-width: 100%;
  }
}

/* 
----------------------------------------------
recipe
----------------------------------------------
*/

/* recipes list */
.recipe__details {
  gap: var(--spacing-200) var(--spacing-400);
  max-width: 20rem;
}
