/* fonts sizes */
.h1 {
  font-size: 3.25rem;
  font-size: clamp(
    3.25rem,
    2.8098591549295775rem + 1.8779342723004695vw,
    4.5rem
  );
  font-weight: var(--fw-800);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-tight-5);
}

.h2 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 2.323943661971831rem + 0.7511737089201878vw, 3rem);
  font-weight: var(--fw-800);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight-5);
}

.h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  line-height: var(--lh-snug);
  letter-spacing: var(--ls-tight-4);
}

/* font weights */
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}

/* line heights */
.lh-1 {
  line-height: var(--lh-1);
}
.lh-tight {
  line-height: var(--lh-tight);
}
.lh-snug {
  line-height: var(--lh-snug);
}
.lh-normal {
  line-height: var(--lh-normal);
}
.lh-normal {
  line-height: var(--lh-relaxed);
}

/* letter spacing */
.ls-tight-1 {
  letter-spacing: var(--ls-tight-1);
}
.ls-tight-2 {
  letter-spacing: var(--ls-tight-2);
}
.ls-tight-3 {
  letter-spacing: var(--ls-tight-3);
}
.ls-tight-4 {
  letter-spacing: var(--ls-tight-4);
}
.ls-tight-5 {
  letter-spacing: var(--ls-tight-5);
}
