/* font sizes */
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-450 {
  font-size: var(--fs-450);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-550 {
  font-size: var(--fs-550);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-750 {
  font-size: var(--fs-750);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-950 {
  font-size: var(--fs-950);
}

/* fluid fonts */
.h1 {
  font-size: 3.25rem;
  font-size: clamp(
    3.25rem,
    2.8098591549295775rem + 1.8779342723004695vw,
    4.5rem
  );
  font-weight: var(--fw-800);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-tight-5);
}

/* font weights */
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}

/* line heights */
.lh-1 {
  line-height: var(--lh-1);
}
.lh-tight {
  line-height: var(--lh-tight);
}
.lh-snug {
  line-height: var(--lh-snug);
}
.lh-normal {
  line-height: var(--lh-normal);
}
.lh-normal {
  line-height: var(--lh-relaxed);
}

/* letter spacing */
.ls-tight-1 {
  letter-spacing: var(--ls-tight-1);
}
.ls-tight-2 {
  letter-spacing: var(--ls-tight-2);
}
.ls-tight-3 {
  letter-spacing: var(--ls-tight-3);
}
.ls-tight-4 {
  letter-spacing: var(--ls-tight-4);
}
.ls-tight-5 {
  letter-spacing: var(--ls-tight-5);
}
