/* containers */
.container {
  --max-width: 75rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 4));
  margin-inline: auto;
}

/* margins */
.mb-300 {
  margin-bottom: var(--spacing-300);
} /* 12px */

.mb-500 {
  margin-bottom: var(--spacing-500);
} /* 20px */

.mb-600 {
  margin-bottom: var(--spacing-600);
} /* 24px */

.mb-800 {
  margin-bottom: var(--spacing-800);
} /* 40px */

.mb-900 {
  margin-bottom: var(--spacing-900);
} /* 48px */

.mb-1100 {
  margin-bottom: var(--spacing-1100);
} /* 80px */

.mb-1200 {
  margin-bottom: var(--spacing-1200);
} /* 96px */

/* padding */
.py-1100 {
  padding-block: var(--spacing-1100);
} /* 80px */

.pb-1200 {
  padding-block: var(--spacing-1200);
} /* 96px */

/* text highlight */
.highlighted-text {
  position: relative;
  padding-inline: 0.1em 0.2em;
  --highlight-offset: 0.7rem;
}

.highlighted-text::after {
  content: "";
  display: block;
  height: 40%;
  width: 100%;
  background-color: var(--orange-100);
  position: absolute;
  left: 0;
  bottom: var(--highlight-offset);
  z-index: -1;
  border-radius: var(--radius-4);
}

.highlighted-text--small {
  --highlight-offset: 0.3rem;
}

.orange-tag-text {
  background-color: var(--orange-500);
  color: var(--neutral-900);
  max-width: fit-content;
  border-radius: var(--radius-6);
  padding: var(--spacing-50) var(--spacing-150);
}
