/* containers */
.container {
  --max-width: 75rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 4));
  margin-inline: auto;
}

/* margins */
.mb-300 {
  margin-bottom: var(--spacing-300);
} /* 12px */

.mb-500 {
  margin-bottom: var(--spacing-500);
} /* 20px */

.mb-600 {
  margin-bottom: var(--spacing-600);
} /* 24px */

.mb-800 {
  margin-bottom: var(--spacing-800);
} /* 40px */

.mb-900 {
  margin-bottom: var(--spacing-900);
} /* 48px */

.mb-1100 {
  margin-bottom: var(--spacing-1100);
} /* 80px */

.mb-1200 {
  margin-bottom: var(--spacing-1200);
} /* 96px */

/* padding */
.py-1100 {
  padding-block: var(--spacing-1100);
} /* 80px */

.pb-1200 {
  padding-block: var(--spacing-1200);
} /* 96px */

/* text highlight */
.title__highlight {
  position: relative;
  padding-inline: 0.1em 0.2em;
}

.title__highlight::after {
  content: "";
  display: block;
  height: 40%;
  width: 100%;
  background-color: var(--orange-100);
  position: absolute;
  left: 0;
  bottom: 0.7rem;
  z-index: -1;
  border-radius: var(--radius-4);
}

.text__highlight {
  position: relative;
  padding-inline: 0.1em 0.2em;
}

.text__highlight::after {
  content: "";
  display: block;
  height: 40%;
  width: 100%;
  background-color: var(--orange-100);
  position: absolute;
  left: 0;
  bottom: 0.3rem;
  z-index: -1;
  border-radius: var(--radius-4);
}
