<footer class="site-footer">
  <div class="container footer__container | flex">
    <div class="footer__text">
      <p>Made with ❤️ and 🥑</p>
    </div>
    <ul class="footer__social-list | flex">
      <li>
        <a href="#">
          <img src="/assets/images/icon-instagram.svg" alt="Instagram" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/icon-bluesky.svg" alt="Bluesky" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/icon-tiktok.svg" alt="TikTok" />
        </a>
      </li>
    </ul>
  </div>
</footer>
